<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <form (ngSubmit)="submit(form)" #form="ngForm" novalidate>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" required="true" [(ngModel)]="email" name="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div
              *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['email'].errors?.['required']">email is required</div>
              <div *ngIf="form.controls['email'].errors?.['email']">email must be a valid email address</div>
            </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Request new password</button>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.col -->
        
          <!-- /.col -->
          <div class="alert alert-warning" *ngIf="form.submitted && notSuccessful">Password reset attempt failed<br />{{
            errorMessage}}
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">An email has been sent to your email for resetting your account<br /></div>



        <p class="mt-3 mb-1">
          <a href="authentication/login">Login</a>
        </p>
        <p class="mb-0">
          <a href="authentication/register" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>