<div class="hold-transition login-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="#"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>

        <form *ngIf="!isSuccessful" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First name" required="true" [(ngModel)]="formData.firstname" minlength="3"
              maxlength="20" name="firstname">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
         
          <div
            *ngIf="myForm.controls['firstname'].invalid && (myForm.controls['firstname'].dirty || myForm.controls['firstname'].touched)"
            class="alert alert-danger">
            <div *ngIf="myForm.controls['firstname'].errors?.['required']">first name is required</div>
            <div *ngIf="myForm.controls['firstname'].errors?.['minlength']">first name must be atleast 3 characters
            </div>
            <div *ngIf="myForm.controls['firstname'].errors?.['maxlength']">first name must be atmost atmost
              20characters</div>
          </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="last name" required="true" [(ngModel)]="formData.lastname" minlength="3"
          maxlength="20" name="lastname">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
        <div
          *ngIf="myForm.controls['lastname'].invalid && (myForm.controls['lastname'].dirty || myForm.controls['lastname'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['lastname'].errors?.['required']">last name is required</div>
          <div *ngIf="myForm.controls['lastname'].errors?.['minlength']">last name must be atleast 3 characters
          </div>
          <div *ngIf="myForm.controls['lastname'].errors?.['maxlength']">last name must be atmost atmost 20
            characters</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" required="true" [(ngModel)]="formData.email" name="email">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
        <div
          *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['email'].errors?.['required']">email is required</div>
          <div *ngIf="myForm.controls['email'].errors?.['email']">email must be a valid email address</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="password" required="true" [(ngModel)]="formData.password" name="password"
          minlength="6">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
        <div
          *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['password'].errors?.['required']">password is required</div>
          <div *ngIf="myForm.controls['password'].errors?.['minlength']">password must be atleast 6 characters</div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input type="checkbox" id="agreeTerms" name="terms" value="agree" required="true">
            <label for="agreeTerms">
              I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="myForm.invalid">Register</button>
        </div>
        <!-- /.col -->
      </div>
      <div class="alert alert-warning" *ngIf="myForm.submitted && isSignUpFailed">Signup failed!<br />{{
        errorMessage}}</div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">Your Registration is successful!<br> Please check your email to confirm account <br /></div>


      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div>

      <a href="login.html" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
</div>